{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>First Drip by heavenfreesta</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/bookstyle.css' %}">
  <script type="text/Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<style>
</style>
<body>
  <div class="container">
    <div class="row">
      <h1 class="mt-4 mb-2 header"name="title" style="color: white;">A List of Books</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-12 mb-3 mt-3">
          <h3 style="color: white;">Favourite: <span id="favourite_count" style="color: white;">0</span> <img class="mb-2" src="{% static 'assets/star(1).png' %}" alt="" style="height: auto; width: 20px;"></h3>
      </div>
      <div class="col-lg-5 col-sm-12"></div>
      <div class="col-lg-3 col-sm-12 mb-3 mt-3">
        <input class="searchbar" type="text" placeholder="Search.."> <button class="btn btn-dark mb-1 btn-sm" type="submit" name="button">Search</button>
      </div>
    </div>
    <div class="row">
      
    </div>
    <div class="row">
      
    </div>
    <div>
      <table class="table table-striped table-condensed table-bordered">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Cover</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Publisher</th>
            <th scope="col">Published Date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="content">
        </tbody>
      </table>
    </div>
  </div>
  <script src="{% static 'js/book.js' %}" charset="utf-8"></script>
</body>
</html>
